<h1>Editing Component In Machine</h1>

<%= render 'form', component_in_machine: @component_in_machine %>

<%= link_to 'Show', @component_in_machine %> |
<%= link_to 'Back', component_in_machines_path %>
